[defaults]
inventory	  = ./inventory/magic
collections_path  = /collections:/usr/share/ansible/collections:./collections
#callbacks_enabled = ansible.posix.timer,ansible.posix.profile_tasks
remote_user       = devops
ask_pass	  = false
callbacks_enabled = ansible.posix.cgroup_perf_recap
forks		  = 10

[privilege_escalation]
become            = false
become_user	  = root
become_method     = sudo
become_ask_pass   = false
